* {
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: 'Syne Bold';
  src: local('Syne Bold'), local('Syne-Bold'), url('../fonts/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.loader .powered-by-akash-wrapper{
  position: fixed;
  bottom: 2rem;
}


input{
  outline: none;
}
textarea{
  outline: none
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  background: #435281;
}
body::-webkit-scrollbar {
  width: 16px;
  cursor: pointer !important;
}
body::-webkit-scrollbar-track {
  background: #8F9ECE;
  cursor: pointer !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #435281;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 5px solid #8F9ECE;  /* padding вокруг плашки */
  cursor: pointer !important;
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #435281;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: loader 0.3s 3s linear forwards;
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
.cookies {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.5rem);
  width: 100%;
  height: 6rem;
  position: fixed;
  left: 0;
  z-index: 9999;
  animation: cookiesAnimation 1s 3s ease-in-out forwards;
  bottom: -100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cookies-hide {
  display: none;
}
.cookies-text {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #2d3c6c;
  margin-right: 3rem;
}
.cookies-btn {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  width: 11.75rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.cookies-btn p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
.cookies-btn__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
}
.cookies-btn:hover .cookies-btn__bg {
  opacity: 1;
  transition: 0.3s;
}
@keyframes cookiesAnimation {
  0% {
    bottom: -6rem;
  }
  100% {
    bottom: 0;
  }
}
.header {
  /*background: url("../Noise.png");*/
  background-size: 100px;
  height: 61rem;
  padding-top: 2.5rem;
  z-index: -2;
  overflow: hidden;
}
.nav {
  width: 94.5rem;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo {
  font-family: Acrom;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e1e9f6;
  font-size: 1.914rem;
  font-weight: 300;
  width: 13.5625rem;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.nav-logo img {
  width: 3rem;
  height: 3rem;
}
.nav-logo__background {
  background: #2d3c6c;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
.nav-logo p {
  margin-left: 0.19rem;
}
.nav-links {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links__item {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: rgba(45, 60, 108, 0.4);
  box-shadow: inset 2px 2px 10px #111f52, inset -2px -2px 8px rgba(122, 134, 151, 0.177256);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  margin-right: 1rem;
}
.nav-links__item img {
  width: 1.5rem;
  height: 1.5rem;
}
.nav-links__item:hover {
  transition: 0.3s;
  background: rgba(59, 74, 121, 0.4);
  box-shadow: inset 2px 2px 10px #111f52, inset -2px -2px 8px rgba(122, 134, 151, 0.177256);
}
.nav-anchors {
  font-family: Comfortaa;
  font-size: 1rem;
  font-weight: 100;
  margin-left: 5.8125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 56.125rem;
  align-items: center;
}
.nav-anchors__item {
  color: #d4ddf1;
  transition: 0.3s;
}
.nav-anchors__item:hover {
  color: #fff;
  transition: 0.3s;
}
.nav-anchors .send-feedback {
  transition: 0.3s;
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  height: 3rem;
  width: 11.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.nav-anchors .send-feedback__background {
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 2.5rem;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -6px -6px 20px rgba(219, 76, 11, 0.2), 6px 6px 20px #15244e;
}
.nav-anchors .send-feedback p {
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-anchors .send-feedback:hover {
  transition: 0.3s;
}
.nav-anchors .send-feedback:hover .send-feedback__background {
  transition: 0.3s;
  opacity: 1;
}
.nav-anchors .language-toggle {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  cursor: pointer;
  color: #e1e9f6;
  position: relative;
  font-weight: 500;
  width: 5.3125rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}
.nav-anchors .language-toggle .language-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 60, 108, 0.4);
  box-shadow: inset -2px -2px 8px rgba(122, 134, 151, 0.1773), inset 2px 2px 10px #111f52;
  border-radius: 40px;
  z-index: -1;
}
.nav-anchors .language-toggle:hover img {
  transition: 0.3s;
  transform: rotate(0deg);
}
.nav-anchors .language-toggle:hover .language-toggle__sub {
  opacity: 1;
  z-index: 5;
}
.nav-anchors .language-toggle img {
  transition: 0.3s;
  transform: rotate(180deg);
  margin-left: 0.8125rem;
  width: 0.8706rem;
}
.nav-anchors .language-toggle__sub {
  display: flex;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 100%;
  background: linear-gradient(254.99deg, #aecde7 -0.94%, #bfd1e7 74.76%, #e3e7f3 100%);
  border-radius: 2.5rem;
  flex-direction: column;
  width: 5.3125rem;
  height: 8.125rem;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
}
.nav-anchors .language-toggle__sub .sub-line {
  background: #d4ddf1;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 1.25rem;
  width: 4rem;
  height: 0.125rem;
}
.nav-anchors .language-toggle__sub a {
  color: #2d3c6c;
  margin-top: 1rem;
  margin-bottom: 1.125rem;
}
.target-block {
  width: 94.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  position: relative;
}
.target-block #blur-white {
  position: absolute;
  bottom: -8rem;
  left: -10rem;
  width: 10rem;
}
.target-block h3 {
  color: #d4ddf1;
  font-family: Comfortaa;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 5.4375rem;
}
.target-block h1 {
  font-family: "Syne Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 7.5rem;
  line-height: 90%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 1rem;
}
.target-block h4 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 120%;
  color: #d4ddf1;
  margin-bottom: 4rem;
}
.target-block__link {
  font-family: Comfortaa;
  color: #fff;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  border-radius: 40px;
  width: 12.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.target-block__image {
  z-index: 0;
  position: relative;
}
.target-block__image-big {
  width: 36.3125rem;
  height: 36.3125rem;
  position: relative;
  margin-top: 3rem;
}
.target-block__image-big .outside-big-white {
  position: absolute;
  z-index: 20;
  bottom: 14rem;
  left: 2rem;
  box-shadow: 22px 14px 13px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 9.75rem;
}
.target-block__image-big .outside-orange {
  position: absolute;
  right: -13rem;
  top: -2rem;
  z-index: 20;
  box-shadow: 13px 28px 15px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 11.875rem;
  height: 11.875rem;
}
.target-block__image-big .outside-violet {
  position: absolute;
  z-index: 20;
  left: 27rem;
  top: -4rem;
  box-shadow: 10px 40px 14px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 5.625rem;
  height: 5.625rem;
}
.target-block__image-big .outside-sif {
  position: absolute;
  z-index: 21;
  bottom: 10rem;
  left: 6rem;
  box-shadow: 11px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 5.625rem;
  height: 5.625rem;
}
.target-block__image-big__main-ring {
  margin-left: 10rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-image: url("../Noise.png");
  background-color: #445280;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: 100px;
  box-shadow: inset 100px 44px 34px rgba(0, 0, 0, 0.16);
}
.target-block__image-big__main-ring .orange-bg {
  position: absolute;
  right: -2rem;
  width: 30rem;
}
.target-block__image-big__main-ring .dark-bg {
  position: absolute;
  left: -5rem;
  width: 30rem;
}
.target-block__image-big__main-ring .main-react {
  z-index: 15;
  border-radius: 100%;
  box-shadow: 30px 34px 34px rgba(0, 0, 0, 0.25);
  width: 19.4375rem;
  height: 19.4375rem;
}
.target-block__image-big__main-ring .img-inside-orange {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 8.0625rem;
  height: 8.0625rem;
  z-index: 5;
}
.target-block__image-big__main-ring .img-inside-dark {
  position: absolute;
  right: 4rem;
  z-index: 10;
  bottom: 10rem;
  width: 7.25rem;
  height: 7.25rem;
}
.target-block__image-big__main-ring .img-inside-white {
  position: absolute;
  right: -2rem;
  bottom: 5rem;
  z-index: 4;
  width: 10rem;
  height: 10rem;
  transform: rotate(25deg);
}
.target-block__image-info {
  background: linear-gradient(254.99deg, #aecde7 -0.94%, #bfd1e7 74.76%, #e3e7f3 100%);
  border-radius: 2.5rem;
  width: 29.3125rem;
  height: 5.5rem;
  display: flex;
  position: absolute;
  bottom: -4rem;
  left: 12rem;
  align-items: center;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
}
.target-block__image-info p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  color: #2d3c6c;
  margin-left: 2rem;
}
.target-block__image-info #round {
  position: absolute;
  right: -1rem;
  top: -1.5rem;
  z-index: 10;
  border-radius: 100%;
  box-shadow: 9px 16px 10px rgba(0, 0, 0, 0.25);
  width: 8.85rem;
  height: 8.85rem;
}
.target-block__image-info #round-white {
  position: absolute;
  left: -25.625rem;
  top: 4rem;
  z-index: 10;
  border-radius: 100%;
  box-shadow: 7px 12px 12px rgba(0, 0, 0, 0.25);
  width: 4rem;
  height: 4rem;
}
.target-block__image-info #outside-white {
  position: absolute;
  right: -20rem;
  bottom: 3rem;
  width: 10rem;
}
.target-block__image-info #star {
  position: absolute;
  top: 80%;
  left: -1rem;
  width: 3.625rem;
  height: 3.625rem;
}
.about-us {
  height: 40rem;
  /*background: url("../Noise.png");*/
  background-size: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10rem;
}
.about-us__info {
  background: linear-gradient(254.99deg, #aecde7 -0.94%, #bfd1e7 74.76%, #e3e7f3 100%);
  background-size: cover;
  width: 103rem;
  height: 30.0131rem;
  display: flex;
  align-items: center;
  border-radius: 50em 0 0 50em;
  position: relative;
}
.about-us__info-decor {
  height: 30.0131rem;
  width: 30.0131rem;
  background-image: url("../Noise.png");
  background-size: 100px;
  background-color: #445280;
  border-radius: 100%;
  position: relative;
  left: -1px;
  box-shadow: inset 40px 54px 67px 135px rgba(0, 0, 0, 0.28);
  overflow: hidden;
}
.about-us__info-decor-item-orange {
  position: absolute;
  z-index: 12;
  right: 11rem;
  bottom: 5rem;
  width: 6.5625rem;
  height: 6.5625rem;
}
.about-us__info-decor-item-white {
  position: absolute;
  z-index: 11;
  bottom: -3rem;
  right: 8rem;
  width: 11.5625rem;
  height: 11.5625rem;
}
.about-us__info-decor-item-violet {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  right: 3rem;
  width: 9.0625rem;
  height: 9.0625rem;
}
.about-us__info-decor-bg {
  position: absolute;
  left: -2rem;
  height: 33.763125rem;
  z-index: -1;
}
.about-us__info-decor-item {
  position: absolute;
  top: 2rem;
  z-index: 10;
  box-shadow: 14px 16px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 6.2625rem;
  height: 6.2625rem;
}
.about-us__info-decor-bright-bg {
  position: absolute;
  bottom: -3rem;
  width: 30rem;
}
.about-us__info-decor-violet-bg {
  position: absolute;
  right: -3rem;
  height: 100%;
}
.about-us__info-text {
  padding-left: 6.6875rem;
}
.about-us__info-text-img {
  position: absolute;
  top: -3rem;
  right: 20rem;
  width: 3.875rem;
  htight: 3.875rem;
}
.about-us__info-text p {
  color: #2d3c6c;
  width: 43.75rem;
}
.about-us__info-text__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 2rem;
}
.about-us__info-text__description {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
}
.delegates {
  height: 7.5rem;
  background: #2d3c6c;
  box-shadow: inset 0px 4px 10px #202d5a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delegates-img-white {
  position: absolute;
  z-index: 10;
  bottom: -9rem;
  right: 2rem;
  width: 9.3125rem;
  height: 9.3125rem;
}
.delegates-img-net {
  position: absolute;
  bottom: -4rem;
  right: 7rem;
  z-index: 10;
  border-radius: 100%;
  box-shadow: 13px -15px 10px rgba(0, 0, 0, 0.25);
  width: 6.875rem;
  height: 6.875rem;
}
.delegates-img-b {
  position: absolute;
  bottom: -8rem;
  z-index: 10;
  left: 3rem;
  z-index: 10;
  box-shadow: 13px 19px 14px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
}
.delegates-block {
  width: 76rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delegates-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delegates-block__item p {
  color: #d4ddf1;
}
.delegates-block__item-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 120%;
  margin-bottom: 0.9375rem;
}
.delegates-block__item-subtitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 0.875rem;
  line-height: 120%;
}
.nets {
  padding-top: 8.75rem;
  background: #435281;
  position: relative;
  padding-bottom: 10.625rem;
}
.nets-bg-image-violet {
  position: absolute;
  bottom: 30%;
  right: 10rem;
  z-index: 12;
  box-shadow: 7px 13px 15px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 5.3125rem;
  height: 5.3125rem;
}
.nets-bg-image-violet-p {
  position: absolute;
  bottom: 0;
  right: 12rem;
  width: 5.9375rem;
  height: 5.9375rem;
}
.nets-bg-image-white-blur {
  position: absolute;
  bottom: 30%;
  right: 3rem;
  z-index: 10;
  width: 14.9375rem;
  height: 14.9375rem;
}
.nets-bg-image-white-dark-blur {
  position: absolute;
  bottom: 20%;
  left: 7rem;
  width: 6.2625rem;
  height: 6.2625rem;
}
.nets-bg-image-net-k {
  position: absolute;
  bottom: -4rem;
  right: 5rem;
  z-index: 50;
  width: 6.5625rem;
  height: 6.5625rem;
}
.nets #nets-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nets h5 {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 5rem;
}
.nets-popup .calculator-token{
  margin-top: 0;
  margin-bottom: 2rem;
}
.nets-container {
  width: 76rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nets-container .nets-item {
  background: linear-gradient(0deg, #b2d5f1 0%, #d7e4f4 73.58%, #e4e8f3 98.11%);
  width: 17.5rem;
  height: auto;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s;
  position: relative;
  padding-bottom: 4.5625rem;
}
.nets-container .nets-item:hover {
  transition: 0.3s;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
}
.nets-container .nets-item__logo {
  margin: 1.5625rem 0 2rem 0;
  width: 7rem;
  height: 7rem;
}
.nets-container .nets-item__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
}
.nets-container .nets-item__subtitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
  margin: 2rem 0;
  width: 14.5rem;
  min-height: 5rem;
}
.nets-container .nets-item__percent {
  margin-bottom: 0.25rem;
}
.nets-container .nets-item__fee {
  margin-bottom: 2rem;
}
.nets-container .nets-item__percent, .nets-container .nets-item__fee {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
}
.nets-container .nets-item__percent span, .nets-container .nets-item__fee span {
  font-weight: 700 !important;
  font-size: 1.25rem !important;
}
.nets-container .nets-item__button {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 20px #0b1a49;
  border-radius: 2.5rem;
  width: 14.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: 1.5625rem;
}
.nets-container .nets-item__button p {
  z-index: 2;
}
.nets-container .nets-item__button:hover .nets-item__button-background {
  transition: 0.3s;
  opacity: 1;
}
.nets-container .nets-item__button-background {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  top: 0;
  left: 0;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  border-radius: 40px;
  width: inherit;
  height: inherit;
  z-index: 0;
}
.validators-wrapper {
  overflow: hidden;
  position: relative;
  background: linear-gradient(119.41deg, #2c3b6b 65.13%, #6b4c6a 90.12%);
}
.validators-wrapper-bg-image {
  position: absolute;
}
.validators-wrapper-bg-image#round-orange-blur {
  top: 10rem;
  left: -3rem;
  width: 11.125rem;
  height: 11.125rem;
}
.validators-wrapper-bg-image#bottom-line {
  bottom: 0;
  height: 1.875rem;
  width: 100%;
}
.validators-wrapper-bg-image#round-white-blur {
  top: 14rem;
}
.validators-wrapper-bg-image#round-bottom-white {
  bottom: -5rem;
  right: -4rem;
  width: 15.125rem;
  height: 15.125rem;
}
.validators-wrapper-bg-image#round-violet-k {
  bottom: 1rem;
  right: 5rem;
  width: 5.6875rem;
  height: 5.6875rem;
}
.validators-wrapper-bg-image#round-violet {
  bottom: 0;
  z-index: 10;
  left: 4rem;
  width: 6.5625rem;
  height: 6.5625rem;
}
.validators-wrapper-bg-image#round-superdark-white-blur {
  right: 8rem;
  top: 10rem;
  width: 11.5625rem;
  height: 11.5625rem;
}
.validators-wrapper #validatorsBg {
  position: absolute;
  top: -1rem;
  z-index: 11;
}
.validators-wrapper .soon-validators {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 4px 10px #202d5a;
  flex-direction: column;
}
.validators-wrapper .soon-validators h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: 6rem;
}
.validators-wrapper .soon-validators h4 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #8f9ece;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.validators-wrapper .soon-validators #bg2 {
  position: absolute;
  top: -18.75rem;
  right: -106.25rem;
  z-index: -1;
}
.validators-wrapper .soon-validators .slider-btn__disabled {
  transition: 0.3s !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
}
.validators-wrapper .soon-validators .slider-btn__disabled:hover {
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931) !important;
}
.validators-wrapper .soon-validators .slider-btn {
  background: linear-gradient(0deg, #54517e 0%, #9091c5 100%);
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  border: 0;
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.validators-wrapper .soon-validators .slider-btn:hover {
  transition: 0.3s;
  box-shadow: -8px -8px 30px rgba(25, 40, 77, 0.4), 8px 8px 60px #142448;
}
.validators-wrapper .soon-validators .slider-btn img {
  margin-right: 0.25rem;
}
.validators-wrapper .soon-validators .slider-btn.prev-btn {
  left: -12rem;
}
.validators-wrapper .soon-validators .slider-btn.next-btn {
  right: -12rem;
}
.validators-wrapper .soon-validators .slider-btn.next-btn img {
  transform: rotate(180deg);
  margin-left: 0.5rem;
}
.validators-wrapper .soon-validators .slider-btn.next-btn img, .validators-wrapper .soon-validators .slider-btn.prev-btn img{
  width: 1rem;
}
.validators-wrapper .soon-validators .slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 76rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  height: 33rem;
  z-index: 20;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
  margin: 1.5rem 0;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-icon {
  margin-top: 1.5rem;
  width: 7rem;
  height: 7rem;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-subtitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
  width: 19.875rem;
}
.calculator-token{
  height: 3.5rem;
  width: 37rem;
  background: #E1E9F6;
  box-shadow: inset -1px -1px 1px #FAFBFF, inset 1px 1px 2px #A6ABBD;
  border-radius: 2.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding-left: 2rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  color: #2D3C6C;
}
.calculator-token p{
  opacity: 0.6;
}
.calculator-token input{
  position: fixed;
  left: -9999rem;
}
.calculator-token button{
  height: 3.5rem;
  width: 3.5rem;
  background: #E1E9F6;
  box-shadow: inset -1px -1px 1px #FAFBFF, inset 1px 1px 2px #A6ABBD;
  border-radius: 100%;
  position: absolute;
  right: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator-token button img{
  width: 1rem;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-link {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 20px #0b1a49;
  border-radius: 2.5rem;
  width: 20rem;
  height: 3rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-link:hover .slide-link__bg {
  opacity: 1;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-link p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  z-index: 30;
}
.validators-wrapper .soon-validators .slider-wrapper .slide-link__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.5rem;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  opacity: 0;
  transition: 0.3s;
}
.validators-wrapper .soon-validators .slider-wrapper .slider-item {
  width: 24rem;
  height: 23.8125rem;
  background: linear-gradient(0deg, #b2d5f1 0%, #d7e4f4 73.58%, #e4e8f3 98.11%);
  opacity: 0.9;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.validators-wrapper .soon-validators .slider-wrapper .slider-item:hover {
  opacity: 1;
  transition: 0.3s;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
}
.validators-wrapper .soon-validators .slider-wrapper .left, .validators-wrapper .soon-validators .slider-wrapper .center, .validators-wrapper .soon-validators .slider-wrapper .right, .validators-wrapper .soon-validators .slider-wrapper .next, .validators-wrapper .soon-validators .slider-wrapper .prev {
  transition: 0.3s;
}
.validators-wrapper .soon-validators .slider-wrapper .left {
  position: absolute;
  left: 0%;
  right: 100%;
  opacity: 1;
  -webkit-transform: rotate3d(1, 0.5, 1, 0deg);
  -ms-transform: rotate3d(1, 0.5, 1, 0deg);
  transform: rotate3d(1, 0.5, 1, 0deg);
}
.validators-wrapper .soon-validators .slider-wrapper .center {
  position: absolute;
  left: 26rem;
  right: auto;
  opacity: 1;
  -webkit-transform: rotate3d(1, 0.5, 1, 0deg);
  -ms-transform: rotate3d(1, 0.5, 1, 0deg);
  transform: rotate3d(1, 0.5, 1, 0deg);
}
.validators-wrapper .soon-validators .slider-wrapper .right {
  position: absolute;
  right: 0%;
  left: 52rem;
  opacity: 1;
  -webkit-transform: rotate3d(1, 0.5, 1, 0deg);
  -ms-transform: rotate3d(1, 0.5, 1, 0deg);
  transform: rotate3d(1, 0.5, 1, 0deg);
}
.validators-wrapper .soon-validators .slider-wrapper .next {
  position: absolute;
  opacity: 0;
  z-index: -100;
  -webkit-transform: rotate3d(1, 0.5, 1, 30deg);
  -ms-transform: rotate3d(1, 0.5, 1, 30deg);
  transform: rotate3d(1, 0.5, 1, 30deg);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  right: -100%;
  left: 200%;
  transition: 1s !important;
}
.validators-wrapper .soon-validators .slider-wrapper .prev {
  position: absolute;
  opacity: 0;
  z-index: -100;
  -webkit-transform: rotate3d(1, 0.5, 1, -30deg);
  -ms-transform: rotate3d(1, 0.5, 1, -30deg);
  transform: rotate3d(1, 0.5, 1, -30deg);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  left: -100%;
  right: 200%;
  transition: 1s !important;
}
.calculator {
  height: 70rem;
  z-index: 30;
  position: relative;
  padding-top: 7.01375rem;
}
.calculator-staff-image {
  position: absolute;
}
.calculator-staff-image#round-white-top {
  top: 8rem;
  right: 36rem;
  z-index: -3;
  width: 10.9375rem;
  height: 10.9375rem;
}
.calculator-staff-image#round-orange-net {
  top: 14rem;
  right: 26rem;
  border-radius: 100%;
  box-shadow: 18px 24px 12px rgba(0, 0, 0, 0.25);
  width: 7.375rem;
  height: 7.375rem;
}
.calculator-staff-image#round-white-blur {
  right: 5rem;
  bottom: 0;
  width: 10rem;
}
.calculator-staff-image#round-white-calc {
  left: 25rem;
  bottom: 5rem;
  width: 10.875rem;
  height: 10.875rem;
}
.calculator-staff-image#violet-blur {
  top: 30rem;
  left: 4rem;
  width: 10rem;
}
.calculator-staff-image#round-top-overflow {
  top: -4rem;
  left: 4rem;
  width: 10rem;
}
.calculator-wrapper {
  width: 37rem;
  height: 41.5rem;
  background: linear-gradient(254.99deg, #aecde7 -0.94%, #bfd1e7 74.76%, #e3e7f3 100%);
  border-radius: 2.5rem;
  position: absolute;
  top: 8rem;
  left: 13.25rem;
  box-shadow: -8px -8px 30px rgba(25, 40, 77, 0.4), 8px 8px 60px #142448;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.calculator-wrapper__range {
  display: flex;
  align-items: center;
  position: absolute;
  top: 13rem;
  left: 3.5rem;
  width: 30rem;
  height: 2rem;
  z-index: 15;
}

.nets-popup__background-clickable{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

input[type='range'] {
  width: 100%;
  height: 1.875rem;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
  border: 0;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 12.5rem;
  height: 0.625rem;
  background: #D4DDF1;
  /* 8 */

  box-shadow: inset -1px -1px 1px #FAFBFF, inset 1px 1px 2px #A6ABBD;
  border-radius: 1rem;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 1.875rem;
  width: 1.875rem;
  margin-top: -0.625rem;
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 50%;

}
input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 0.625rem; /* equal to height of runnable track */
  width: 500px; /* make this bigger than the widest range input element */
  left: -502px; /* this should be -2px - width */
  top: 8px; /* don't change this */
  background: #FF913A;
  border-radius: 50%;
}




.calculator-wrapper__description {
  width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
}
.calculator-wrapper__info {
  opacity: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.5s;
}
.calculator-wrapper__info.current {
  opacity: 1 !important;
}
.calculator-wrapper__info-btn {
  width: 100%;
  height: 3rem;
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  border: 0;
  margin-top: 3rem;
  position: relative;
  cursor: pointer;
}
.calculator-wrapper__info-btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.calculator-wrapper__info-btn:hover .calculator-wrapper__info-btn__bg {
  opacity: 1;
  transition: 0.3s;
}
.calculator-wrapper__info-btn__bg {
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  z-index: 0;
  opacity: 0;
  transition: 0.3s;
}
.calculator-wrapper__info-btn p {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
}
.calculator-wrapper__info-stonks {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
}
.calculator-wrapper__info-stonks__line {
  background: #d4ddf1;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 1.25rem;
  height: 0.125rem;
  width: 100%;
}
.calculator-wrapper__info-stonks__item {
  height: 3.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 0.875rem;
  line-height: 120%;
  display: flex;
  color: #2d3c6c;
  justify-content: space-between;
}
.calculator-wrapper__info-stonks__item p:nth-child(1) {
  width: 4.75rem;
  white-space: nowrap;
}
.calculator-wrapper__info-stonks__item p:nth-child(2) {
  width: 11.75rem;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  white-space: nowrap;
}

.price-info{
  margin-right: .5rem;
}
.calculator-wrapper__info-stonks__item p:nth-child(3) {
  width: 6.75rem;
  text-align: right;
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  white-space: nowrap;
}
.calculator-wrapper__info-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  text-align: right;
  color: #2d3c6c;
}
.calculator-wrapper__info-header p span {
  text-transform: uppercase;
}
.calculator-wrapper__info-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
}
.calculator-wrapper__info-values p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #2d3c6c;
}
.calculator-wrapper__top {
  padding-top: 3.5rem;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  position: relative;
  width: 100%;
  align-items: center;
}
.calculator-wrapper__top button {
  position: absolute;
  border: 0;
  background: transparent;
  transition: 0.5s;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  z-index: 10;
}
.calculator-wrapper__top button:hover {
  background: #fff;
  transition: 0.5s;
}
.calculator-wrapper__top-btn {
  z-index: 10;
}
.calculator-wrapper__top-btn__left {
  left: 3.5rem;
  width: 100%;
  height: 100%;
}
.calculator-wrapper__top-btn__right {
  right: 3.5rem;
}
.calculator-wrapper__top-btn__right img{
  width: 100%;
  height: 100%;
}
.calculator-wrapper__top-btn__left img{
  width: 100%;
  height: 100%;
}
.calculator-wrapper__item {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.5;
  transition: 0.5s;
  z-index: 0;
  cursor: pointer;
}
.calculator-wrapper__item img {
  width: 3.5rem;
  height: 3.5rem;
  transition: 0.5s;
}
.calculator-wrapper__item.current {
  opacity: 1 !important;
}
.calculator-wrapper__item.prev {
  left: -25rem;
}
.calculator-wrapper__item._01 {
  left: 6.125rem;
}
.calculator-wrapper__item._02 {
  left: 10.375rem;
}
.calculator-wrapper__item._03 {
  left: 14.625rem;
}
.calculator-wrapper__item._04 {
  left: 18.875rem;
}
.calculator-wrapper__item._05 {
  left: 23.125rem;
}
.calculator-wrapper__item._06 {
  left: 27.375rem;
}
.calculator-wrapper__item.next {
  left: 39.875rem;
}
.calculator-info {
  background-size: cover;
  width: 105.7075rem;
  height: 59.13125rem;
  margin: 0 auto;
  position: relative;
}
.calculator-info__text {
  width: 30.1875rem;
  color: #fff;
  width: 38.6975rem;
  height: 38.6975rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 19rem;
  top: 10rem;
  position: absolute;
}
.calculator-info__text-field {
  position: absolute;
  z-index: -2;
  width: 45rem;
  height: 45rem;
}
.calculator-info__text-bg {
  width: 38.6975rem;
  height: 38.6975rem;
  border-radius: 100%;
  box-shadow: inset 37px 102px 45px 60px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../Noise.png");
  background-size: contain;
  background-color: #2c3b6b;
  align-items: center;
  z-index: -1;
  overflow: hidden;
  position: relative;
}
.calculator-info__text-bg #violet-net {
  bottom: 0;
  left: 7rem;
  border-radius: 100%;
  box-shadow: 21px 4px 17px rgba(0, 0, 0, 0.25);
  width: 10rem;
  height: 10rem;
}
.calculator-info__text-bg #round-inside-orange {
  bottom: -2rem;
  border-radius: 100%;
  left: 14rem;
  z-index: 15;
  box-shadow: 8px -6px 11px rgba(0, 0, 0, 0.25);
  width: 5.75rem;
  height: 5.75rem;
}
.calculator-info__text-bg #round-inside-white {
  bottom: -5rem;
  left: 13rem;
  width: 15.5625rem;
  height: 15.5625rem;
}
.calculator-info__text-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 120%;
  width: 70%;
}
.calculator-info__text-subtitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  margin-top: 2rem;
  width: 70%;
}
#calculator-round {
  position: absolute;
  top: -3rem;
  left: 9rem;
  z-index: -1;
}
.dark-bg {
  background: linear-gradient(73.96deg, #25335f 1.23%, #435281 85.86%, #45527b 99.71%);
  height: 30rem;
  height: auto;
  z-index: -30;
  position: absolute;
  width: 100%;
}
.benefits {
  height: 43rem;
  display: flex;
  flex-direction: column;
}
.benefits h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fff;
}
.benefits h4 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  width: 76rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.benefits-wrapper {
  display: flex;
  flex-direction: row;
  width: 76rem;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.benefits-wrapper__item {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center;
  color: #2d3c6c;
  position: relative;
  height: 17.5rem;
  justify-content: flex-end;
}
.benefits-wrapper__item-icon {
  background: url("../ring-bg.png");
  background-size: cover;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}
.benefits-wrapper__item-icon img{
  width: 3.25rem;
  height: 3.25rem;
}
.benefits-wrapper__item-description {
  width: 100%;
  height: 14rem;
  background: linear-gradient(254.99deg, #b2d5f1 -0.94%, #d7e4f4 74.76%, #e4e8f3 100%);
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-wrapper__item-description p {
  width: 20rem;
  margin-top: 2rem;
}
.stages {
  height: 50rem;
  margin-bottom: 6rem;
}
.stages-big-item .stages-line-item-bg-face-quatro-bg {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  top: -3rem;
}
.stages-big-item .stages-line-item-bg-face-quatro-bg p:nth-child(1) {
  font-size: 2.5rem;
}
.stages-big-item .stages-line-item-bg-face-quatro-bg p:nth-child(2) {
  font-size: 1.125rem;
}
.stages-big-item .stages-line-item-bg-face-text {
  margin: auto;
  font-weight: 500;
  font-size: 1.875rem;
}
.stages-big-item .stages-line-item-bg-face-year {
  top: -3rem;
  right: -2rem;
  width: 6.1875rem;
  height: 6.1875rem;
}
.stages-line {
  background: url("../stages/line.png") no-repeat center;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 12rem;
  margin-top: 15rem;
}
.stages-line-item {
  margin: 0 2.5rem;
  width: 17.5rem;
  height: 16.375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  box-shadow: -8px -8px 30px rgba(25, 40, 77, 0.4), 8px 8px 60px #142448;
}
.stages-line-item-bg-container {
  width: 98%;
  height: 98%;
  position: absolute;
}
.stages-line-item-bg-face {
  background: radial-gradient(153.11% 101.8% at 73.86% 96.83%, #d4ddf1 21.35%, #dbe2f0 100%);
  width: 98%;
  height: 98%;
  position: absolute;
  z-index: 2;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stages-line-item-bg-face-img {
  position: absolute;
}
.stages-line-item-bg-face-img#face-star {
  bottom: 0rem;
  left: -2rem;
  width: 4.9375rem;
  height: 4.9375rem;
}
.stages-line-item-bg-face-img#face-violet {
  bottom: -2rem;
  left: 2rem;
  width: 2.6875rem;
  height: 2.6875rem;
}
.stages-line-item-bg-face-img#face-white {
  top: 1rem;
  right: -3rem;
  width: 6.5625rem;
  height: 6.5625rem;
}
.stages-line-item-bg-face-year {
  border-radius: 100%;
  position: absolute;
  top: -3rem;
  right: -1rem;
  box-shadow: 8px 11px 10px rgba(0, 0, 0, 0.25);
  width: 5.0625rem;
  height: 5.0625rem;
}
.linked-us .mc-email img{
  top: 1rem;
}
.stages-line-item-bg-face-text {
  text-align: center;
  font-family: Comfortaa;
  color: #2d3c6c;
  font-size: 1.125rem;
  margin-top: 1.5rem;
  font-weight: 100;
  width: 98%;
}
.stages-line-item-bg-face-quatro-bg {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background: #d4ddf1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset -1px -2px 0px #fff;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stages-line-item-bg-face-quatro-bg p {
  font-family: Comfortaa;
  color: #2d3c6c;
  text-align: center;
  opacity: 0.7;
}
.stages-line-item-bg-face-quatro-bg p:nth-child(1) {
  font-size: 1.5rem;
}
.stages-line-item-bg-face-quatro-bg p:nth-child(2) {
  font-size: 0.6875rem;
  font-weight: 100;
}
.stages-line-item-bg-background {
  width: 100%;
  height: 100%;
  background: linear-gradient(308.95deg, #6f7a9c 13.57%, #fff 72.48%);
  border-radius: 2.5rem;
  position: absolute;
  z-index: 1;
}
.linked-us {
  height: 60rem;
  background-repeat: no-repeat;
  margin-left: auto !important;
  position: relative;
  width: 82%;
  margin-top: 14rem;
}
.linked-us-container {
  display: flex;
  align-items: center;
  height: 36.75rem;
}
.linked-us-container-img {
  position: absolute;
}
.linked-us-container-img#linked-img-certik {
  right: 25rem;
  top: -6rem;
  width: 8.125rem;
  height: 8.125rem;
}
.linked-us-container-img#linked-img-emoney {
  top: 37rem;
  left: 21rem;
  z-index: 40;
  box-shadow: 14px 16px 17px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 4.4375rem;
  height: 4.4375rem;
}
.linked-us-container-img#linked-img-s {
  top: 0;
  left: -15rem;
  width: 5.5625rem;
  height: 5.5625rem;
  box-shadow: 18px 20px 19px rgba(0, 0, 0, .25);
  border-radius: 100%;
}
.linked-us-container-img#linked-img-sif {
  right: 0;
  top: 39rem;
  width: 5.6875rem;
  height: 5.6875rem;
  box-shadow: 18px 20px 19px rgba(0, 0, 0, .25);
  border-radius: 100%;
}
.linked-us-container-img#linked-img-violet-blur {
  left: -9rem;
  top: 16rem;
  z-index: 40;
  width: 8.625rem;
  height: 8.625rem;
}
.linked-us-container-img#linked-img-violet-dark {
  right: 14rem;
  top: 6rem;
  width: 13.9375rem;
  height: 13.9375rem;
}
.linked-us-container-img#linked-img-white-blur {
  top: -8rem;
  right: 35rem;
  width: 11.875rem;
  height: 11.875rem;
}
.linked-us #mc_embed_signup div.mce_inline_error {
  background: transparent;
}
.linked-us .mc-field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}
.linked-us .mc-msg{
  justify-content: unset;
}
.linked-us .mc-msg img{
  top: 1rem;
}
.linked-us .mc-field-group input {
  width: 100%;
  height: 3rem;
  padding-left: 3rem;
  box-sizing: border-box;
  border: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 6.25rem;
  outline: none;
}
.linked-us .mc-field-group input::placeholder {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #8f9ece;
}
.linked-us .mc-field-group textarea {
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 1.75rem;
  resize: none;
  border: 0;
  width: 100%;
  height: 6.5rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
  padding: 1rem 1rem 1rem 3rem;
  box-sizing: border-box;
}
.linked-us .mc-field-group textarea::placeholder {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #8f9ece;
  display: flex;
  align-items: center;
  height: 100%;
}
.linked-us .mc-field-group img {
  position: absolute;
  left: 1rem;
  width: 1.3rem;
}
.linked-us__form {
  width: 57rem;
  height: 36.75rem;
  background: linear-gradient(254.99deg, #aecde7 -0.94%, #bfd1e7 74.76%, #e3e7f3 100%);
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 18.375rem;
  z-index: 1;
}
.linked-us__form-container {
  width: 30rem;
  margin-right: 3.875rem;
}
.linked-us__form h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #2d3c6c;
  margin-bottom: 2.5rem;
}
.linked-us__form .linked-textarea img {
  top: 1rem;
}
.linked-us__form-input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.linked-us__form-input__btn {
  width: 100%;
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 40px;
  height: 3rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  position: relative;
  border: 0;
}
.linked-us__form-input__btn p {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
}
.linked-us__form-input__btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
}
.linked-us__form-input__btn:hover .linked-us__form-input__btn-bg {
  opacity: 1;
  transition: 0.3s;
}
.linked-us__form-input img {
  position: absolute;
  left: 1rem;
}
.linked-us__form-input input {
  width: calc(100% - 2.5rem);
  height: 3rem;
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 100px;
  border: 0;
  padding-left: 2.5rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
}
.linked-us__form-input ::-webkit-scrollbar {
  width: 0;
}
.linked-us__form-input ::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.linked-us__form-input ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.linked-us__form-input textarea {
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 1.75rem;
  width: calc(100% - 2.5rem);
  height: calc(104px - 2rem);
  resize: none;
  border: 0;
  padding: 1rem 2.5rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
}
.linked-us__form-input ::placeholder {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #8f9ece;
}
.linked-us__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 36.75rem;
  height: 36.75rem;
  border-radius: 100%;
  background: url("../Noise.png");
  background-size: 100px;
  z-index: 20;
  background-color: #33426f;
  box-shadow: inset 40px 64px 44px 50px rgba(0, 0, 0, 0.25);
}
.linked-us__info-content {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linked-us__info-bg {
  position: absolute;
  z-index: 3;
  width: 41.8125rem;
  height: 41.8125rem;
}
.linked-us__info-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  margin-bottom: 2.25rem;
}
.linked-us__info-item {
  display: flex;
  flex-direction: row;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #fff;
  width: 80%;
  margin-bottom: .5rem;
}
.linked-us__info-item div{
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #41527F;
  border: 0.25rem solid #8F9ECE;
  box-shadow: inset 1.28571px 1.28571px 6.42857px #2F3D6A, inset -1.28571px -1.28571px 5.14286px rgba(255, 255, 255, 0.177256);
}
.linked-us__info-item div img{
  width: 2.375rem;
  height: 2.375rem;
}
.linked-us__info-item img {
  width: 5rem;
  height: 5rem;
}
.linked-us__info-item p {
  margin-left: 1rem;
  width: 70%;
}
.footer {
  height: 30.125rem;
  width: 102.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.footer-img-outside {
  position: absolute;
  left: 4rem;
  bottom: 8rem;
}
.footer-contacts__form {
  position: absolute;
  right: 0rem;
  box-shadow: inset 40px 64px 16px 50px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  box-sizing: border-box;
  overflow: hidden;
}
.footer-contacts__form-bg {
  position: absolute;
}
.footer-contacts__form-bg#form-bg-orange {
  right: -2rem;
  width: 30rem;
}
.footer-contacts__form-bg#form-bg-white {
  bottom: -3rem;
  width: 30rem;
}
.footer-contacts__form-bg#form-bg-desmos {
  bottom: -1rem;
  right: 6rem;
  width: 6.3125rem;
  height: 6.3125rem;
}
.footer-contacts__form ::placeholder {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #8f9ece;
}
.footer-contacts__form-btn {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.footer-contacts__form-btn p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}
.footer-contacts__form-btn__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
}
.footer-contacts__form-btn:hover .footer-contacts__form-btn__bg {
  opacity: 1;
  transition: 0.3s;
}
.footer-contacts__form h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: #fff;
}
.footer-contacts__form-input {
  width: 100%;
  position: relative;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.footer-contacts__form-input img {
  position: absolute;
  z-index: 30;
  left: 1rem;
}
.footer-contacts__form-input input {
  border: 0;
  width: calc(100% - 2.5rem);
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 100px;
  height: 100%;
  top: 0;
  position: absolute;
  padding-left: 2.5rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
}
.footer-sections {
  position: relative;
  width: 76rem;
  margin: 0 auto;
}
.footer-sections__item {
  position: absolute;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  transition: .3s;
}

.footer-sections__item p{
  transition: .3s;
}

.footer-sections__item:hover > p{
  transition: .3s;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-sections__item:nth-child(1) {
  width: 5.375rem;
  height: 5.375rem;
  border-radius: 100%;
  background: url("../footer/round-orange.svg");
  background-size: cover;
  color: #2c3b6b;
}
.footer-sections__item:nth-child(2) {
  width: 6.0625rem;
  height: 6.0625rem;
  border-radius: 100%;
  background: url("../footer/round-violet.svg");
  background-size: cover;
  color: #fff;
}
.footer-sections__item:nth-child(3) {
  color: #2c3b6b;
  width: 8.25rem;
  height: 8.25rem;
  border-radius: 100%;
  background: url("../footer/round-white-big.svg");
  background-size: cover;
}
.footer-sections__item:nth-child(4) {
  color: #fff;
  width: 7.125rem;
  height: 7.125rem;
  border-radius: 100%;
  background: url("../footer/round-violet.svg");
  background-size: cover;
}
.footer-sections__item:nth-child(5) {
  color: #fff;
  width: 6.125rem;
  height: 6.125rem;
  border-radius: 100%;
  background: url("../footer/round-orange.svg");
  background-size: cover;
}
.footer-sections #about-us {
  top: 4.75rem;
  left: 4.75rem;
}
.footer-sections #pribil {
  top: 6.8125rem;
  left: 17.625rem;
}
.footer-sections #guides {
  top: 4.875rem;
  left: 33.375rem;
}
.footer-sections #contacts {
  top: 6.8125rem;
  left: 48.75rem;
}
.footer-sections #blog {
  top: 14.8125rem;
  left: 41.75rem;
}
.footer-social__links {
  margin-left: 3rem;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: space-between;
}
.footer-social__links-item {
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(45, 60, 108, 0.4);
  box-shadow: inset 2px 2px 10px #111f52, inset -2px -2px 8px rgba(122, 134, 151, 0.177256);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 1rem;
}

.footer-social__links-item img{
  width: 1.5rem;
  height: 1.5rem;
}
.footer-social__links-item:hover {
  transition: 0.3s;
  background: rgba(59, 74, 121, 0.4);
  box-shadow: inset 2px 2px 10px #111f52, inset -2px -2px 8px rgba(122, 134, 151, 0.177256);
}
.footer-wrapper {
  width: 76rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nets-item-active{
  transition: 0.3s;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
}
.stakewolle-validator{
  color: #fff;
  font-family: Open Sans;
  width: 37rem;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
}
.nets-item-active .nets-item__button .nets-item__button-background{
  opacity: 1;
}
.popup-copy{
  background: #E1E9F6;
  width: 38rem;
  /* 8 */
  transition: 1s;
  opacity: 0;
  box-shadow: inset -1px -1px 1px #FAFBFF, inset 1px 1px 2px #A6ABBD;
  position: absolute;
  top: 6.3rem;
  left: 8.5rem;
  font-family: 'COMFORTAA';
  color: #0B1A49;
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  font-size: 1.5rem;
  z-index: -1;
}
.footer-wrapper__logo {
  background: rgba(45, 60, 108, 0.6);
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
  border-radius: 2.5rem;
  width: 13.5625rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Acrom;
  font-style: normal;
  font-weight: 300;
  font-size: 1.9140625rem;
  line-height: 120%;
  color: #e1e9f6;
}
.footer-wrapper__logo img{
  width: 3rem;
  height: 3rem;
}
.footer-wrapper__logo p {
  margin-left: 0.19rem;
}
.mce_inline_error {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  color: rgba(255, 255, 255, .5);
}
div[for="mce-EMAIL"] {
  margin-top: 0.5rem;
  text-align: center;
}
.footer-contacts__form {
  width: 26.75rem;
  height: 26.75rem;
  border-radius: 100%;
  background-color: #2c3b6b;
  background: url("../Noise.png");
  background-size: 100px;
}
.footer-contacts__form .mc-field-group {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  flex-direction: column;
}
.footer-contacts__form .mc-field-group input {
  width: 20.75rem;
  border-radius: 2.5rem;
  border: 0;
  height: 3rem;
  outline: none;
  box-sizing: border-box;
  padding-left: 3rem !important;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0b1a49;
}
.footer-contacts__form .mc-field-group img {
  position: absolute;
  left: 1rem;
  width: 1.5rem;
}
.foot {
  width: 100%;
  height: 3rem;
  position: relative;
  cursor: pointer;
}
.foot:hover .btn-bg {
  opacity: 1;
  transition: 0.3s;
}
.foot .btn {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
}
.foot input {
  width: 100% !important;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent !important;
}
.foot .btn-bg {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  opacity: 0;
  z-index: 10;
  transition: 0.3s;
}
.foot p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  z-index: 20;
}
.form-alert {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(225, 233, 246, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  opacity: 0;
  z-index: -1;
}
.form-alert__form {
  background: #2d3c6c;
  border-radius: 2.5rem;
  width: 55rem;
  height: 42.125rem;
  position: relative;
}
.form-alert__form-round {
  position: absolute;
}
.form-alert__form-round:nth-child(1) {
  top: 4.8125rem;
  left: -3.31375rem;
}
.form-alert__form-round:nth-child(2) {
  top: 31.7775rem;
  right: 5.31375rem;
  z-index: -1;
}
.form-alert__form-close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
.form-alert__form-close__item {
  height: 0.125rem;
  width: 1.129375rem;
  background: #8f9ece;
  position: absolute;
}
.form-alert__form-close__item:nth-child(1) {
  transform: rotate(45deg);
}
.form-alert__form-close__item:nth-child(2) {
  transform: rotate(-45deg);
}
.form-alert__form-pretitle {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 1.129375rem;
  line-height: 120%;
  text-align: center;
  color: #e1e9f6;
  margin-top: 2rem;
}
.form-alert__form-title {
  margin: 13rem auto 11.375rem auto;
  width: 80%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fff;
}
.form-alert__form-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-alert__form-btn button {
  width: 20rem;
  height: 3.5rem;
  background: #2d3c6c;
  box-shadow: inset 0px 0px 30px #001043;
  border-radius: 2.5rem;
  border: 0;
  position: relative;
  cursor: pointer;
}
.form-alert__form-btn button:hover div {
  transition: 0.3s;
  opacity: 1;
}
.form-alert__form-btn button div {
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  border-radius: 2.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 705;
  opacity: 0;
  transition: 0.3s;
}
.form-alert__form-btn button p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  z-index: 710;
}

.nets-popup {
  width: 55.25rem;
  height: 55.5rem;
  background: #2d3c6c;
  border-radius: 2.5rem;
  position: relative;
  overflow: hidden;
}
.nets-popup__buttons-container {
  width: 42rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3.625rem;
  left: 6.5rem;
}
.nets-popup__buttons-container button {
  background: #2d3c6c;
  box-shadow: inset 0px 0px 20px #0b1a49;
  border-radius: 2.5rem;
  width: 20rem;
  height: 3.5rem;
  border: 0;
  position: relative;
  cursor: pointer;
}
.nets-popup__buttons-container button:first-child{
  margin-right: 2rem;
}
.nets-popup__buttons-container button:hover div {
  transition: 0.3s;
  opacity: 1;
}
.nets-popup__buttons-container button p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 30;
  width: 100%;
  height: 100%;
}
.nets-popup__buttons-container button div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
  box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
  border-radius: 2.5rem;
  opacity: 0;
  transition: 0.3s;
}
.nets-popup__stat {
  width: 48rem;
  margin: 0 auto;
  margin-top: 3rem;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  left: 3.5rem;
}
.nets-popup__stat.current {
  opacity: 1;
  transition: 0.5s;
}
.nets-popup__stat-info {
  width: 100%;
  margin-top: 0.5rem;
  background: #e1e9f6;
  box-shadow: -8px -8px 20px rgba(50, 56, 106, 0.246749), 8px 8px 20px rgba(12, 16, 39, 0.564931);
  border-radius: 2.5rem;
  height: 16.375rem;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}
.nets-popup__stat-info__positions {
  width: 23rem;
  display: flex;
  flex-direction: column;
  font-family: Comfortaa;
}
.nets-popup__stat-info__positions-values {
  position: absolute;
  bottom: 1.0625rem;
  width: 23rem;
}
.nets-popup__stat-info__positions-market {
  margin-top: 1.5rem;
}
.nets-popup__stat-info__positions-vol {
  margin-top: 0.5625rem;
}
.nets-popup__stat-info__positions-market, .nets-popup__stat-info__positions-vol {
  width: 100%;
  height: 2rem;
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  color: #2d3c6c;
}
.nets-popup__stat-info__positions-coingecko {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  color: #2d3c6c;
}
.nets-popup__stat-info__positions-coingecko__value {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nets-popup__stat-info__positions-price {
  width: 90%;
  text-align: right;
  margin: 0 auto;
  margin-top: 2.625rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: right;
  text-transform: uppercase;
  color: #2d3c6c;
}
.nets-popup__stat-info__positions-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nets-popup__stat-info__positions-top__blocktime {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nets-popup__stat-info__positions-top__blocktime img{
  width: 1rem;
  height: 1rem;
}
.course-arrow__bottom{
  width: 1.5rem;
  height: 1.5rem;
}
.course-arrow__top{
  width: 1.5rem;
  height: 1.5rem;
}
.nets-popup__stat-info__positions-top__blocktime p {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 120%;
  color: #2d3c6c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.nets-popup__stat-info__positions-top__coin {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nets-popup__stat-info__positions-top__coin img {
  width: 2.5rem;
  height: 2.5rem;
}
.nets-popup__stat-info__positions-top__coin-name {
  text-transform: uppercase;
  color: #2d3c6c;
  line-height: 140%;
  margin-left: 0.5rem;
}
.nets-popup__stat-info__positions-top__coin-name__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
}
.nets-popup__stat-info__positions-top__coin-name__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  margin-top: 0.125rem;
}
.nets-popup__stat-info__graph {
  height: 100%;
  width: 20rem;
  background: #e1e9f6;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 2.5rem;
  right: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nets-popup__stat-info__graph-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  position: absolute;
  bottom: 1.5rem;
  z-index: 10;
}
.nets-popup__stat-info__graph-labels__item {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 120%;
  color: #2d3c6c;
}
.nets-popup__stat-info__graph-line {
  background: #d4ddf1;
  box-shadow: inset -1px -1px 1px #fafbff, inset 1px 1px 2px #a6abbd;
  border-radius: 20px;
  width: 90%;
  height: 0.125rem;
  position: absolute;
  top: 4.125rem;
  z-index: 0;
}
.nets-popup__stat-info__graph-line:nth-child(1) {
  top: 4.125rem;
}
.nets-popup__stat-info__graph-line:nth-child(2) {
  top: 6.25rem;
}
.nets-popup__stat-info__graph-line:nth-child(3) {
  top: 8.375rem;
}
.nets-popup__stat-info__graph-line:nth-child(4) {
  top: 10.5rem;
}
.nets-popup__stat-info__graph-line:nth-child(5) {
  top: 12.625rem;
}
.nets-popup__stat-info__graph-chart {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 5;
}
.nets-popup__stat-info__graph-chart .line-chart {
  width: 100%;
  height: 100%;
}
.nets-popup__stat-info__graph-chart .line-chart #line-chart {
  width: 100% !important;
  height: 100% !important;
}
.nets-popup__stat-title {
  display: flex;
  flex-direction: row;
}
.nets-popup__stat-title__blockchain p {
  font-family: Comfortaa;
  font-style: normal;
  line-height: 120%;
  color: #e1e9f6;
}
.nets-popup__stat-title__blockchain-title {
  font-weight: 500;
  font-size: 0.975rem;
  width: 18rem;
}
.nets-popup__stat-title__blockchain-subtitle {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.nets-popup__stat-title__token {
  margin-left: 8.5rem;
}
.nets-popup__stat-title__token p {
  font-family: Comfortaa;
  font-style: normal;
  line-height: 120%;
  color: #e1e9f6;
}
.nets-popup__stat-title__token-title {
  font-weight: 500;
  font-size: 0.875rem;
}
.nets-popup__stat-title__token-subtitle {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.nets-popup__top-slider {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nets-popup__top-slider__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 44.75rem;
  height: 100%;
  margin: 0 auto;
}
.nets-popup__top-slider__wrapper-item {
  height: 10rem;
  width: 14.25rem;
  position: absolute;
  overflow: hidden;
  border-radius: 2.5rem;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.5s;
  z-index: 20;
  cursor: pointer;
}
.nets-popup__top-slider__wrapper-item:hover{
  opacity: 1;
  transition: 0.5s;
}
.nets-popup__top-slider__wrapper-item__dark {
  background: #8f9ece;
  opacity: 0.3;
  border-radius: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.prev {
  left: -31.25rem;
  transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.left {
  left: 5.125rem;
  transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.center {
left: 20.375rem;
transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.right {
left: 35.625rem;
transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.next {
left: 62.5rem;
transition: 0.2s;
}
.nets-popup__top-slider__wrapper-item.current {
box-shadow: 0px 0px 30px rgba(4, 13, 37, 0.8);
transition: 0.2s;
opacity: 1;
}
.nets-popup__top-slider__wrapper-item.current .nets-popup__top-slider__wrapper-item__dark {
opacity: 0;
}
.nets-popup__top-slider__wrapper-item__info {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.nets-popup__top-slider__wrapper-item__info-fee {
position: absolute;
bottom: 1rem;
right: 1rem;
display: flex;
flex-direction: row;
align-items: center;
}
.nets-popup__top-slider__wrapper-item__info-fee p {
font-family: Comfortaa;
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 120%;
color: #d4ddf1;
}
.nets-popup__top-slider__wrapper-item__info-name {
font-family: Comfortaa;
font-style: normal;
line-height: 120%;
color: #fff;
text-transform: uppercase;
top: 1.5rem;
left: 5.0625rem;
position: absolute;
}
.nets-popup__top-slider__wrapper-item__info-name__title {
font-weight: bold;
font-size: 1.25rem;
margin-bottom: 0.125rem;
}
.nets-popup__top-slider__wrapper-item__info-name__subtitle {
font-weight: normal;
font-size: 1rem;
}
.nets-popup__top-slider__wrapper-item__background {
height: 100%;
width: 100%;
position: relative;
background-image: url("../popup/Noise.png");
background-size: cover;
background-repeat: no-repeat;
}
.nets-popup__top-slider__wrapper-item__background-linear {
background: linear-gradient(269.84deg, #715c7f 6.94%, #715c7f 21.41%, #e27b7b 32.41%, rgba(219, 114, 131, 0) 84.51%);
transform: rotate(45deg);
width: 200%;
height: 200%;
position: absolute;
right: -80%;
}
.nets-popup__top-slider__wrapper-item__background-chart {
width: 14.25rem !important;
position: absolute;
bottom: -30%;
height: 100%;
}
.nets-popup__top-slider__wrapper-item__background-chart .line-chart {
width: 100%;
height: 70%;
}
.nets-popup__top-slider__wrapper-item__background-chart .line-chart #line-chart {
width: 100% !important;
height: 100% !important;
}
.nets-popup__top-slider__wrapper-item__background img {
width: 2.5rem;
height: 2.5rem;
position: absolute;
top: 1.5rem;
left: 1.5rem;
z-index: 20;
}
.nets-popup__top-slider__btn {
background: transparent;
border-radius: 100%;
border: 0;
position: absolute;
cursor: pointer;
transition: 0.5s;
width: 2rem;
height: 2rem;
display: flex;
align-items: center;
justify-content: center;
z-index: 30;
}
.nets-popup__top-slider__btn img {
width: 100%;
height: 100%;
}
.nets-popup__top-slider__btn:hover {
transition: 0.5s;
background: rgba(255, 255, 255, 0.1);
filter: brightness(1.3);
}
.nets-popup__top-slider__btn.nets-popup__top-slider__left {
left: 2rem;
}
.nets-popup__top-slider__btn.nets-popup__top-slider__right {
right: 2rem;
}
.nets-popup h4 {
font-family: Comfortaa;
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 120%;
text-align: center;
color: #e1e9f6;
margin-top: 2rem;
}
.nets-popup h3 {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 120%;
text-align: center;
letter-spacing: -0.01em;
color: #fff;
margin-top: 1rem;
margin-bottom: 2rem;
}
.nets-popup__lock {
position: absolute;
right: 1.5rem;
top: 1.5rem;
width: 1.5rem;
height: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
  z-index: 99999;
}
.nets-popup__lock-item {
width: 1.129375rem;
height: 0.125rem;
background-color: #8f9ece;
position: absolute;
}
.nets-popup__lock-item:nth-child(1) {
transform: rotate(45deg);
}
.nets-popup__lock-item:nth-child(2) {
transform: rotate(-45deg);
}
.nets-popup__background {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 9990;
background: rgba(225, 233, 246, 0.3);
backdrop-filter: blur(20px);
display: none;
flex-direction: row;
align-items: center;
justify-content: center;
transition: 0.5s;
opacity: 1;
}
.calc-validator {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background: rgba(225, 233, 246, 0.3);
backdrop-filter: blur(20px);
z-index: 9999;
display: none;
align-items: center;
justify-content: center;
}
.calc-validator__buttons {
width: 100%;
position: absolute;
bottom: 4rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.cosmostation-link {
margin-right: 2rem;
}
.calc-validator__buttons button {
background: #2d3c6c;
box-shadow: inset 0px 0px 20px #0b1a49;
border-radius: 3rem;
width: 24rem;
height: 3.5rem;
border: 0;
position: relative;
cursor: pointer;
}
.calc-validator__buttons button:hover div {
transition: 0.3s;
opacity: 1;
}
.calc-validator__buttons button img{
  width: 2rem;
  margin-left: 1rem;
}
.calc-validator__buttons button p {
font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 120%;
text-align: center;
color: #fff;
position: absolute;
top: 0;
left: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
z-index: 30;
width: 100%;
height: 100%;
}
.calc-validator__buttons button div:last-child {
font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 120%;
text-align: center;
color: #fff;
position: absolute;
top: 0;
left: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
z-index: 30;
width: 100%;
height: 100%;
}
.calc-validator__buttons button div:last-child p {
position: unset;
width: unset;
z-index: 50;
}
.calc-validator__buttons button .calc-validator__buttons-bg {
position: absolute;
top: 0;
left: 0;
z-index: 30;
width: 100%;
height: 100%;
background: linear-gradient(275.69deg, #fd7925 0%, #ff913a 100%);
box-shadow: -8px -8px 20px rgba(219, 76, 11, 0.2), 8px 8px 20px #15244e;
border-radius: 2.5rem;
opacity: 0;
transition: 0.3s;
}
.calc-validator__title {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-top: 3.5rem;
}
.calc-validator__title p {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 120%;
letter-spacing: -0.01em;
color: #fff;
margin-left: 1.5rem;
}
.calc-validator__title img {
width: 3.675rem;
height: 3.675rem;
}
.calculator-wrapper__range-fake {
  width: 10%;
  height: .75rem;
  background: #000;
  position: absolute;
  border-radius: 1rem;
  background: linear-gradient(275.69deg, #FD7925 0%, #FF913A 100%);
}
.calc-validator .calculator-wrapper__range-pretrack {
transition: 0s;
}
.calc-validator .calculator-wrapper__range-donetrack {
transition: 0s;
}
.calc-validator .calculator-wrapper__range-thumb {
transition: 0s;
}
.calc-validator .calculator-wrapper__range {
top: 9rem;
transition: 0s;
}
.calc-validator .calculator-wrapper {
height: 28.5rem;
position: absolute;
left: 9rem;
top: 16.625rem;
}
.calc-validator__wrapper {
width: 55rem;
height: 56.25rem;
background: #2d3c6c;
border-radius: 2.5rem;
position: relative;
}
.calc-validator__wrapper__lock {
position: absolute;
right: 1.5rem;
top: 1.5rem;
width: 1.5rem;
height: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
  z-index: 99999;
}
.calc-validator__wrapper__lock-item {
width: 1.129375rem;
height: 0.125rem;
background-color: #8f9ece;
position: absolute;
}
.calc-validator__wrapper__lock-item:nth-child(1) {
transform: rotate(45deg);
}
.calc-validator__wrapper__lock-item:nth-child(2) {
transform: rotate(-45deg);
}
.calc-validator__buttons a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 100;
}
.nets-popup__top-slider__wrapper-item__preloader {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: rgba(255, 255, 255, 0.79);
backdrop-filter: blur(7px);
border-radius: 2.5rem;
opacity: 1;
z-index: 50;
}
.nets-popup__top-slider__wrapper-item__preloader p {
font-family: Comfortaa;
width: 70%;
text-align: center;
margin-top: 0.5rem;
}
.nets-popup__top-slider__wrapper-item__preloader span {
display: inline-block;
animation: pulse 0.4s alternate infinite ease-in-out;
color: #ff913a;
font-family: Consolas, Menlo, Monaco, monospace;
font-weight: bold;
font-size: 1.2rem;
}
.nets-popup__top-slider__wrapper-item__preloader span:nth-child(odd) {
animation-delay: 0.4s;
}
@keyframes pulse {
to {
  transform: scale(0.8);
  opacity: 0.5;
}
}

.powered-by-akash-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.powered-by-akash{
  width: 20%;
}

.loader-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: loader-animate 1s ease-in-out forwards;
  opacity: 0;
}

.loader-logo img{
  width: 4rem;
}

.loader-logo-title{
  color: #fff;
  font-family: Acrom;
  font-size: 2rem;
  margin-left: .5rem;

  background: linear-gradient(90deg, #d9d9d9, #fff, #d9d9d9);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 10%;
  animation: shine 2s linear infinite;
  position: relative;
}

.loader-logo-subtitle{
  animation: shine 2s linear infinite;
  margin-left: .5rem;
  color: #fff;
  font-family: Comfortaa;
  font-size: .75rem;

}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.loader-circle{
  border: 5px solid;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-color: white transparent transparent;
  animation: spin .5s linear infinite;
  z-index: 9999;
  bottom: 40%;
}

@keyframes spin{
  100%{transform:rotate(360deg)}
}

@keyframes loader-animate {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  80%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}